div#waProgress
    div.waBar
div(style='margin-top: 5px;')
    label.switch
        input#_mode(value="Mode" type="checkbox" name="text-preview" disabled)
        span.slider(title='Mode Pesan')
    input#getFile(type='file' accept='.csv,.txt' name='files' style='width:180px;cursor:pointer;' aria-label='Input File')
    div#_file-info(data-icon='checks' class='img icon icon-ok' title='File OK!')
        span#_data-count
        span._file-checks
            - var cPath = "M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" ;
            +createSvg(cPath, '0 0 512 512', "14", '.6', "currentColor")
    div#_blast(data-icon='send' class='img icon icon-send' title='BLAST!' style='float:right;cursor:pointer;')
        svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='24' height='24')
            path#_blast-ico(opacity='.4' d='M505.12019,19.09375c-1.18945-5.53125-6.65819-11-12.207-12.1875C460.716,0,435.507,0,410.40747,0,307.17523,0,245.26909,55.20312,199.05238,128H94.83772c-16.34763.01562-35.55658,11.875-42.88664,26.48438L2.51562,253.29688A28.4,28.4,0,0,0,0,264a24.00867,24.00867,0,0,0,24.00582,24H127.81618l-22.47457,22.46875c-11.36521,11.36133-12.99607,32.25781,0,45.25L156.24582,406.625c11.15623,11.1875,32.15619,13.15625,45.27726,0l22.47457-22.46875V488a24.00867,24.00867,0,0,0,24.00581,24,28.55934,28.55934,0,0,0,10.707-2.51562l98.72834-49.39063c14.62888-7.29687,26.50776-26.5,26.50776-42.85937V312.79688c72.59753-46.3125,128.03493-108.40626,128.03493-211.09376C512.07526,76.5,512.07526,51.29688,505.12019,19.09375ZM384.04033,168A40,40,0,1,1,424.05,128,40.02322,40.02322,0,0,1,384.04033,168Z')