@import "./variable.scss";

/*--------------------------------------------------------------
# Dark Mode
--------------------------------------------------------------*/
body.dark {
    #wayfuPanel {
        .row:not(:last-child) {
            border-color: #555;
        }

        #panel-menus button {
            &:hover,
            &.active {
                background-color: rgba(255, 255, 255, 0.15);
            }
        }

        .menu-content {
            background: $darkbg;
        }

        #_settings ._slider {
            &::-webkit-slider-thumb,
            &::-moz-range-thumb {
                background-color: white;
            }
        }

        .switch {
            input[type="checkbox"] {
                & + .slider {
                    background-color: rgba(255, 255, 255, 0.15);
                }
            }
        }

        .select {
            select {
                background-color: white;
            }

            svg {
                stroke: white;
            }
        }
    }

    #wayfu-modal {
        background-color: $grey;

        .wfu-modal-container {
            background: $lightGrey;
            border: $darkGrey solid 1px;
            color: white;

            .wfu-btn-close {
                &::after,
                &::before {
                    background-color: white;
                }
            }

            a.wfu-export-csv svg {
                color: white !important;
            }
        }
    }

    div.two {
        svg.wayfu-app-icon {
            .fill0,
            .fill1,
            .fill2 {
                fill: currentColor;
            }
        }
        [data-testid="menu-bar-wayfu-app"] {
            [role="button"],
            [type="button"] {
                &.active {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }

            &.active {
                [role="button"] {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }
    }
}
