@import "./variable.scss";

.wfu-modal {
    @include square(100%);
    position: fixed;
    left: 0;
    top: 0;
    background-color: $modalBg;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s 0s, visibility 0s 0s;

        .wfu-modal-container {
            transform: translateY(0);
        }
    }

    .wfu-modal-container {
        font-family: "Lato", sans-serif;
        color: #888;
        position: relative;
        width: 33.33%;
        max-width: 400px;
        margin: 0.4em auto;
        background: #fff;
        border: $modalBorder solid 1px;
        border-radius: 0.25em;
        text-align: left;
        box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
        transform: translateY(-40px);
        transition-property: transform;
        transition-duration: 0.3s;

        &:first-of-type {
            margin-top: 1.5em;
        }

        &.progress-panel {
            max-width: unset;

            span.curPhone {
                font-weight: bold;
            }

            .waProgress {
                @include area(90%, 1em);
                margin: 0.75em auto 0;
                background-color: var(--compose-input-background);
                display: block;
                border-radius: 0.5em;

                .waBar {
                    @include area(0px, 1em);
                    border-radius: 0.5em;
                    background-color: rgb(0, 155, 76);
                }
            }
        }

        .img-replace {
            display: inline-block;
            overflow: hidden;
            text-indent: 100%;
            color: transparent;
            white-space: nowrap;
        }

        h2,
        p,
        .wfu-reports,
        .wfu-changelog {
            margin: 0 auto;
            width: 90%;
        }

        p,
        .wfu-reports,
        .wfu-changelog {
            padding: 1em 0;
        }

        h2 {
            font-size: 1em;
            font-weight: bold;
            padding: 0.5em 0;
            border-bottom: 1px #b6bece solid;
        }

        p,
        .wfu-reports {
            font-size: 0.9em;
        }

        .wfu-changelog {
            .wfu-changelog-items {
                @include myList;
                margin: 0.25em 0;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                span {
                    font-weight: bold;
                    font-size: 0.9em;
                }

                ul {
                    margin-top: 0.2em;

                    li {
                        font-size: 0.85em;
                        margin: 0.05em 0;

                        ul {
                            margin-left: 1.25rem;
                        }
                    }
                }
            }
        }

        .wfu-reports {
            font-weight: bold;

            li {
                @include myList;
                margin: 0.2em 0;

                a.wfu-export-csv {
                    float: right;
                    cursor: pointer;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M480 352h-133.5l-45.25 45.25C289.2 409.3 273.1 416 256 416s-33.16-6.656-45.25-18.75L165.5 352H32c-17.67 0-32 14.33-32 32v96c0 17.67 14.33 32 32 32h448c17.67 0 32-14.33 32-32v-96C512 366.3 497.7 352 480 352zM432 456c-13.2 0-24-10.8-24-24c0-13.2 10.8-24 24-24s24 10.8 24 24C456 445.2 445.2 456 432 456zM233.4 374.6C239.6 380.9 247.8 384 256 384s16.38-3.125 22.62-9.375l128-128c12.49-12.5 12.49-32.75 0-45.25c-12.5-12.5-32.76-12.5-45.25 0L288 274.8V32c0-17.67-14.33-32-32-32C238.3 0 224 14.33 224 32v242.8L150.6 201.4c-12.49-12.5-32.75-12.5-45.25 0c-12.49 12.5-12.49 32.75 0 45.25L233.4 374.6z' fill='%23888'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                    padding-left: 18px;
                    vertical-align: middle;
                }
            }
        }

        .wfu-buttons {
            padding: 0;
            text-align: center;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            li {
                float: left;
                width: 50%;
                list-style: none;

                &:first-child,
                &:last-child a {
                    border-radius: 0 0 0 0.25em;
                }

                &:first-child a {
                    background: #fc7169;

                    &:hover {
                        background-color: #fc8982;
                    }
                }

                &:last-child a {
                    background: #b6bece;

                    &:hover {
                        background-color: #c5ccd8;
                    }
                }
            }

            a {
                display: block;
                height: 36px;
                line-height: 36px;
                text-decoration: none;
                text-transform: capitalize;
                color: white;
                transition: background-color 0.2s;
            }
        }

        .wfu-btn-close {
            position: absolute;
            top: 3px;
            right: 0px;
            @include square(30px);

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                width: 14px;
                height: 3px;
                background-color: #888;
            }

            &::before {
                transform: rotate(45deg);
                left: 8px;
            }

            &::after {
                transform: rotate(-45deg);
                right: 8px;
            }
        }
    }
}
