@import "./variable.scss";

.wfu-modal {
    @include square(100%);
    position: fixed;
    left: 0;
    top: 0;
    background-color: $modalBg;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    z-index: 9999;

    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s 0s, visibility 0s 0s;

        .wfu-modal-container {
            transform: translateY(0);
        }
    }

    .wfu-modal-container {
        font-family: "Lato", sans-serif;
        color: #888;
        position: relative;
        width: 33.33%;
        max-width: 400px;
        margin: 0.4em auto;
        background: #fff;
        border: $modalBorder solid 1px;
        border-radius: 0.25em;
        text-align: left;
        box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.5);
        transform: translateY(-40px);
        transition-property: transform;
        transition-duration: 0.3s;

        &:first-of-type {
            margin-top: 1.5em;
        }

        &.progress-panel {
            max-width: unset;

            span.curPhone {
                font-weight: bold;
            }

            .waProgress {
                @include area(90%, 1em);
                margin: 0.75em auto 0;
                background-color: var(--compose-input-background);
                display: block;
                border-radius: 0.5em;

                .waBar {
                    @include area(0px, 1em);
                    border-radius: 0.5em;
                    background-color: rgb(0, 155, 76);
                }
            }
        }

        .img-replace {
            display: inline-block;
            overflow: hidden;
            text-indent: 100%;
            color: transparent;
            white-space: nowrap;
        }

        h2,
        p,
        .wfu-reports,
        .wfu-changelog,
        .wfu-options {
            margin: 0 auto;
            width: 90%;
        }

        p,
        .wfu-reports,
        .wfu-changelog,
        .wfu-options {
            padding: 1em 0;
        }

        h2 {
            font-size: 1em;
            font-weight: bold;
            padding: 0.5em 0;
            border-bottom: 1px #b6bece solid;
        }

        p,
        .wfu-reports {
            font-size: 0.9em;
        }

        .wfu-changelog {
            .wfu-changelog-items {
                @include myList;
                margin: 0.25em 0;

                &:first-of-type {
                    margin-top: 0;
                }

                &:last-of-type {
                    margin-bottom: 0;
                }

                span {
                    font-weight: bold;
                    font-size: 0.9em;
                }

                ul {
                    margin-top: 0.2em;

                    li {
                        font-size: 0.85em;
                        margin: 0.05em 0;

                        ul {
                            margin-left: 1.25rem;
                        }
                    }
                }
            }
        }

        .wfu-options {
            // padding: 0 10px;
            // height: 146px;
            // overflow-y: scroll;

            .row {
                display: flex;
                flex-wrap: nowrap;

                &.right {
                    justify-content: end;

                    > * {
                        width: auto !important;
                    }
                }

                &:first-child {
                    padding-top: 3px;
                }

                &:last-child {
                    border-bottom: 2px #888 solid;
                    padding-bottom: 7px;
                    margin-bottom: 7px;
                }

                &:not(:last-child) {
                    padding-bottom: 3px;
                }

                ._label > *,
                ._input > * {
                    vertical-align: middle;
                    text-transform: capitalize;
                    font-size: 0.875em;
                }

                ._label {
                    width: 80%;

                    .badge {
                        display: inline-block;
                        padding: 0.35em 0.65em;
                        font-size: 0.75em;
                        font-weight: 700;
                        line-height: 1;
                        color: #fff;
                        text-align: center;
                        white-space: nowrap;
                        vertical-align: baseline;
                        border-radius: 0.25rem;

                        &.beta {
                            padding: 0.25em 0.5em;
                            font-size: 0.5em;
                            background-color: #dc3545 !important;
                            border-radius: 50rem !important;
                            vertical-align: top;
                            font-weight: normal;
                            text-transform: uppercase;
                        }
                    }
                }

                label._label {
                    margin: auto 0;
                    margin-left: 5px;
                }

                ._input {
                    width: 20%;

                    .select {
                        position: relative;
                        min-width: 200px;

                        select {
                            padding: 3px 20px 3px 12px;
                            width: 100%;
                            border: none;
                            border-radius: 5px;
                            background: var(--panel-background);
                            color: var(--primary-stronger);
                            box-shadow: 0 1px 3px -2px #9098a9;
                            cursor: pointer;
                            font-family: "Roboto", sans-serif;
                            font-size: 14px;
                            transition: all 150ms ease;

                            &:required:invalid {
                                color: #5a667f;
                            }

                            &:focus {
                                outline: none;
                                border-color: #07f;
                                box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
                            }

                            &:hover + svg {
                                stroke: #07f;
                            }

                            option {
                                color: var(--secondary);

                                &[value=""][disabled] {
                                    display: none;
                                }
                            }
                        }

                        svg {
                            @include area(10px, 6px);
                            position: absolute;
                            right: 12px;
                            top: calc(50% - 1px);
                            stroke-width: 2px;
                            stroke: #9098a9;
                            fill: none;
                            stroke-linecap: round;
                            stroke-linejoin: round;
                            pointer-events: none;
                        }
                    }

                    &.checks {
                        @include square(1.25em);
                        position: relative;
                        float: left;
                        display: block;
                        top: 1px;
                        margin-right: 2px;}
                }
            }
        }

        .wfu-reports {
            font-weight: bold;

            li {
                @include myList;
                margin: 0.2em 0;

                a.wfu-export-csv {
                    float: right;
                    vertical-align: middle;

                    svg {
                        @include square(16px);
                        color:inherit
                    }
                }
            }
        }

        .wfu-buttons {
            padding: 0;
            text-align: center;

            &:after {
                content: "";
                display: table;
                clear: both;
            }

            li {
                float: left;
                width: 50%;
                list-style: none;

                &:first-child,
                &:last-child a {
                    border-radius: 0 0 0 0.25em;
                }

                &:first-child a {
                    background: #fc7169;

                    &:hover {
                        background-color: #fc8982;
                    }
                }

                &:last-child a {
                    background: #b6bece;

                    &:hover {
                        background-color: #c5ccd8;
                    }
                }
            }

            a {
                display: block;
                height: 36px;
                line-height: 36px;
                text-decoration: none;
                text-transform: capitalize;
                color: white;
                transition: background-color 0.2s;
            }
        }

        .wfu-btn-close {
            position: absolute;
            top: 3px;
            right: 0px;
            @include square(30px);

            &::before,
            &::after {
                content: "";
                position: absolute;
                top: 12px;
                width: 14px;
                height: 3px;
                background-color: #888;
            }

            &::before {
                transform: rotate(45deg);
                left: 8px;
            }

            &::after {
                transform: rotate(-45deg);
                right: 8px;
            }
        }
    }
}
