include others/constants.pug
include others/mixins.pug

block header 
#panelHead
    include component/head.pug

block body
#panelBody
    include component/menus.pug
    include component/other.pug
    include component/footer.pug